{% extends "base.html" %}
{% load static %}


{% block title %}Inicia Sesión{% endblock %}

{% block head %}
    {% if user.is_authenticated %}
        {% for usu in usuario %}
            {% if usu.usuario.username == user.username %}
                {% if usu.concesionario == null %}
                    {% include 'includes/header-reserva.html' %}
                {% else %}
                    {% include 'includes/header-conce.html' %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if user.is_staff %}
            {% include 'includes/header-admin.html' %}
        {% endif %}

    {% else %}
        {% include 'includes/header-base.html' %}
    {% endif %}



{% endblock head %}


{% block content %}


<div id="contenedorInicio">

  <div id="inicioFiltro">
    <h2 style="text-align:center; margin-top:5px">Vehículos</h2>
    <h5 style="text-align:center;">BÚSQUEDA AVANZADA:</h5>

    <div class="medium-6 cell" style="padding:5%">
  
      <form action="." method="post">{% csrf_token %}
        
        <div>
          <p>Marca</p>
          <select name="marcaselect" id="marcaselect">
            <option value="marca">-----</option>
              {% for c in coches %}
            <option>{{c.modelo.marca}}</option>     
              {% endfor %}
          </select>
        </div>

        <div>
          <p>Modelo</p>
          <select name="modeloselect" id="modeloselect" disabled=false>
            <option value="modelo">-----</option>
              {% for c in coches %}
            <option>{{c.modelo}}</option>         
              {% endfor %}
          </select>
        </div>
        
        <div>
          <p>Tipo</p>
            <select name="tiposelect" id="tiposelect">
              <option value="tipo">-----</option>
                {% for c in coches %}
              <option>{{c.tipo}}</option>         
                {% endfor %}
            </select>
        </div>
       
        <div>
          <p>Fecha Matriculación:</p>
          <font size='2'> Posterior a:</font>
          <input name="fecha" placeholder="Fecha" type="date" />
        </div>
    
        <div>
          <p>Kilometros</p>
          <select name="kilometros" id="kilometros">
            <option value="0-999">0-999</option>
            <option value="1000-5000">1000-5000</option>
            <option value="5001-10000">5001-10000</option>
            <option value="10001-25000">10001-25000</option>
            <option value="25001-50000">25001-50000</option>
            <option value="50001-100000">50001-100000</option>
            <option value="+100001">+100001</option>         
            
          </select>
        </div>
        
        <div>
          <p>Cambio</p>
          <select name="cambioselect" id="cambioselect">
            <option value="cambio">-----</option>
              {% for c in coches %}
            <option>{{c.CAMBIO_CHOICES|get_cambio:c.cambio}}</option>       
              {% endfor %}
          </select>
        </div>
        

        <div>
          <p>Potencia</p>
          <select name="Potencia" id="Potencia">
            <option value="b">-----</option>
              {% for e in formu %}
            <option value="Potencia">{{e.potencia}}</option>         
              {% endfor %}
          </select>
        </div>
    
        <div>
          <p>Localización</p>
          <select name="local" id="local">
            <option value="local">-----</option>
              {% for e in formu %}
            <option value="local">{{e.localizacion}}</option>         
              {% endfor %}
          </select>
        </div>
    
        <div>
          <p>Precio</p>
          <select name="color" id="color">
            <option value="b">-----</option>
            <option value="r">1€-1000€</option>
            <option value="a">1000€-5000€</option>
            <option value="v">5000€-10000€</option>
            <option value="v">10000€-20000€</option>
          </select>
        </div>
    
        <input type="submit" value="Búsqueda">
      </form>
    </div>
  </div>


  <div id="inicioResultados">
   
   <table style="border:0px" >
    {% for r in resultado %}
    <tr>
      <th style="width:7%; background-color:#ffffff"><img src={{r.imagen.url}} style="width:100%"></th>
      
      <th style="width:25%; text-align:left;background-color:#ffffff">
        <table style="border-radius:5px">
          <tr>
            <th colspan="2"style="width:70%; background-color:#cdcdcd;">{{r.modelo.marca| upper }}- {{r.modelo}}</th>

          </tr>
          <tr style="background-color:#ffffff">
            <td>  Kilometros: {{r.kilometros|floatformat:0}}</td>
            <td rowspan="4"style="padding-right:5%">
              <button class="success button" style="border-radius:5px; width:100%; ">Ver</button>
            </td>
            
          </tr>
          <tr>
            <td> Año Matriculación: {{r.fecha_matriculacion| date:'Y'}}</td>
            
          </tr>
          <tr>
            <td style="background-color:#ffffff">Precio: {{r.precio_original|floatformat:0}}--Descuento: {{r.descuento|floatformat:0}}%</td>
           
          </tr>
        </table>

      </th>
    </tr>
     {% endfor %}
   </table>


 

<div class="pagination">
  <span class="step-links">
  <center>
    <table style="width:60%;font-size:10;">
      <tr>
        {% if resultado.has_previous %}
        <td>
          <a href="?page=1">&laquo; Primera Página</a>
        </td>
        <td>
          <a href="?page={{ resultado.previous_page_number }}">Anterior</a>
        </td>
        {% endif %}
        <td>
        <span class="current">
            Página {{ resultado.number }} de {{ resultado.paginator.num_pages }}.
        </span>
        </td>
        {% if resultado.has_next %}
        <td>   
          <a href="?page={{ resultado.next_page_number }}">Siguiente</a>
        </td>
        <td>
          <a href="?page={{ resultado.paginator.num_pages }}">Última Página &raquo;</a>
        </td>
        {% endif %}
      </tr>
    </table>
</center>
  </span>
</div>
   </div>
</div>




{% endblock content %}