{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Inicio{% endblock %}

{% block head %}

    {% if user.is_authenticated %}
        {% for usu in usuario %}
            {% if usu.usuario.username == user.username %}
                {% if usu.concesionario == null %}
                    {% include 'includes/header-reserva.html' %}
                {% else %}
                    {% include 'includes/header-conce.html' %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if user.is_staff %}
            {% include 'includes/header-admin.html' %}
        {% endif %}

    {% else %}
        {% include 'includes/header-base.html' %}
    {% endif %}

<style>
 .responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}
  </style>


{% endblock head %}


{% block content %}


<div id="contenedorInicio">

  <div id="inicioFiltro">
    <h2 style="text-align:center; margin-top:5px">Vehículos</h2>
    <h5 style="text-align:center;">BÚSQUEDA AVANZADA:</h5>

    <div class="medium-6 cell" style="padding:5%">
  
      <form action="." method="post">{% csrf_token %}
        
        <div>
          <p>Marca</p>
          <select name="marcaselect" id="marcaselect">
             <option value="default">-----</option>
              {% for m in marca %}
            <option>{{m.nombre}}</option>     
              {% endfor %}
          </select>
        </div>

        <div>
          <p>Modelo</p>
          <select name="modeloselect" id="modeloselect" disabled>
            <option value="default">-----</option>
             
          </select>
        </div>
        
        <div>
          <p>Tipo</p>
            <select name="tipo" id="tiposelect">
               <option value="default">-----</option>
                {% for t in tipos %}
              <option>{{t.tipo}}</option>         
                {% endfor %}
            </select>
        </div>
       
         <div>
          <p>Matriculación anterior a: </p>
          <input type="date" id="kword" name="fecha"
          value="{{fecha}}"
          min="1885-01-01" max="{{fecha}}">
        </div>  
    
        <div>
          <p>Kilómetros</p>
          <select name="kilometros" id="kilometros">
            <option value="default">-----</option>
            <option value="0Km-999Km">0Km - 1.000Km</option>
            <option value="1000Km-5000Km">1.000Km - 5.000Km</option>
            <option value="5001Km-10000Km">5.000Km - 10.000Km</option>
            <option value="10001Km-25000Km">10.000Km - 25.000Km</option>
            <option value="25001Km-50000Km">25.000Km - 50.000Km</option>
            <option value="50001Km-100000Km">50.000Km - 100.000Km</option>
            <option value="+100001Km<">+100.000Km</option>         
            
          </select>
        </div>
        
        <div>
          <p>Cambio</p>
          <select name="cambio" id="cambioselect">
           <option value="default">-----</option>
              {% for c in cambios %}
            <option>{{c}}</option>       
              {% endfor %}
          </select>
        </div>
            
        <div>
          <p>Localización</p>
          <select name="local" id="local">
            <option value="default">-----</option>
             {% for p in provincia%}
                <option >{{p}}</option>         
            {% endfor %}
          </select>
        </div>
    
        <div>
          <p>Precio</p>
          <select name="precio" id="color">
            <option value="default">-----</option>
            <option value="1€-1000€">1€ - 1.000€</option>
            <option value="1001€-5000€">1.000€ - 5.000€</option>
            <option value="5001€-10000€">5.000€ - 10.000€</option>
            <option value="10001€-20000€">10.000€ - 20.000€</option>
            <option value="+20001€">+20.000€</option>
          </select>
        </div>
    
        <button class="success button" style="border-radius:5px; width:100%; " type="submit">Buscar</button>
      </form>
    </div>
  </div>


  <div id="inicioResultados">
     {% if contador %}
    <p style="text-align:center; font-weight:bold; color:green;">Su búsqueda contiene {{contador}} resultados.</p>
    
    {%elif flag%}
    <p style="text-align:center; font-weight:bold; color:red;">Su búsqueda no contiene resultados.</p>
    <hr> 
    <p style="text-align:center;font-weight:bold;">Quizás le interesen las siguientes ofertas:</p>
   

   {%endif%}
   <table style="border:0px" >
    {% for r in resultado %}
    <tr> 
      <th style="width:25%; text-align:left;background-color:#ffffff">
        <table style="border-radius:5px">
          <tr>
            <th colspan="2"style="width:70%; background-color:#cdcdcd;">{{r.modelo.marca| upper }}- {{r.modelo}}</th>
          </tr>

          <tr>
           <td rowspan="5" style="width:25%; background-color:#ffffff"><img class="responsive" src={{r.imagen.url}} style="width:100%"></td>
           <td style="background-color:#ffffff">  Kilómetros: {{r.kilometros|floatformat:0|intcomma}} Km</td> 
          </tr>
          
          <tr>
            <td style="background-color:#ffffff"> Año Matriculación: {{r.fecha_matriculacion| date:'Y'}}</td>
          </tr>
          <tr>
            
            {% if r.descuento == 0 %}
            <td style="background-color:#ffffff"><b>Precio Final: {{r.precio_final|floatformat:0|intcomma}}€</b></td>
            {% else %}
            <td style="background-color:#ffffff"><b>Precio Final: {{r.precio_final|floatformat:0|intcomma}}€</b>  con un Descuento de: {{r.descuento|floatformat:0|intcomma}}% </td>
            {% endif %}
          </tr>
          <tr>
            <td  style="background-color:#ffffff; margin-left: 50%;">
              <button rowspan="4"class="success button" style="border-radius:5px; width:50%; margin-left: 20%;">Ver</button>
            </td>
          </tr>
        </table>

      </th>
    </tr>
     {% endfor %}
   </table>


 

<div class="pagination">
  <span class="step-links">
  <center>
    <table style="width:60%;font-size:10;">
      <tr>
        {% if resultado.has_previous %}
        <td>
          <a href="?page=1">&laquo; Primera Página</a>
        </td>
        <td>
          <a href="?page={{ resultado.previous_page_number }}">Anterior</a>
        </td>
        {% endif %}
        <td>
        <span class="current">
            Página {{ resultado.number }} de {{ resultado.paginator.num_pages }}.
        </span>
        </td>
        {% if resultado.has_next %}
        <td>   
          <a href="?page={{ resultado.next_page_number }}">Siguiente</a>
        </td>
        <td>
          <a href="?page={{ resultado.paginator.num_pages }}">Última Página &raquo;</a>
        </td>
        {% endif %}
      </tr>
    </table>
</center>
  </span>
</div>
   </div>
</div>

<script> 
let marca=document.getElementById("marcaselect");

marca.addEventListener('change', (event) => {
  document.getElementById("modeloselect").removeAttribute("disabled");
  modelo_dict_js = '{{modelo.marca|safe}}';
  console.log(modelo_dict_js);
  document.getElementById("modeloselect").innerHTML="";

  var marcaSel= document.getElementById("marcaselect").value;
    
  {% for t in modelo %}
      
    var option=document.createElement('option');

    if (marcaSel=="{{t.marca}}"){
        option.text="{{t}}";
        document.getElementById("modeloselect").appendChild(option);

    }
   
     {%endfor%}


   for (var m = 0; m < modelo_dict_js.lent; m++) {
     
}



});

</script>


{% endblock content %}