{% extends "base.html" %}
{% load static %}


{% block title %}Inicia Sesión{% endblock %}

{% block head %}
    {% if user.is_authenticated %}
        {% for usu in usuario %}
            {% if usu.usuario.username == user.username %}
                {% if usu.concesionario == null %}
                    {% include 'includes/header-reserva.html' %}
                {% else %}
                    {% include 'includes/header-conce.html' %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if user.is_staff %}
            {% include 'includes/header-admin.html' %}
        {% endif %}

    {% else %}
        {% include 'includes/header-base.html' %}
    {% endif %}

<style>
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
.button {
  display: inline-block;
  border-radius: 10px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 100px;
  margin-top: 50px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>

{% endblock head %}


{% block content %}

<div class="row">
  <div class="side" style="height:100%;">
    <h2 style="margin-left: 130px;">Vehículos</h2>
    <h5 style="margin-left: 105px;">BÚSQUEDA AVANZADA:</h5>
    <div class="fakeimg" style="height:100%; width: 170px; margin-left: 85px;">
  
      <form action="." method="post">{% csrf_token %}
        
        <div>
          <p>Marca</p>
          <select name="marcaselect" id="2">
            <option value="marca">-----</option>
              {% for e in formu %}
            <option value="marca2">{{e.modelo.marca}}</option>     



                
              {% endfor %}
          </select>
        </div>

        <div>
          <p>Modelo</p>
          <select name="modeloselect" id="1">
            <option value="modelo">-----</option>
              {% for e in formu %}
                <option value="modelo1">{{e.modelo}}</option>         
              {% endfor %}
            </select>
          </div>
        <div>



          <p>Tipo</p>
          <select name="color" id="color">
            <option value="z">-----</option>
              {% for e in formu %}
            <option value="z1">{{e.tipo}}</option>         
              {% endfor %}
          </select>
        </div>
        <div>
          <p>Fecha</p>
            <select name="fecha" id="fecha">
              <option value="fecha">-----</option>
                 {% for e in formu %}
              <option value="fecha">{{e.fecha_matriculacion}}</option>         
                  {% endfor %}
            </select>
        </div>
    <div>
      <p>Kilometros</p>
      <select name="kilometros" id="kilometros">
        <option value="kilometros">-----</option>
        {% for e in formu %}
          <option value="kilometros">{{e.kilometros}}</option>         
        {% endfor %}
      </select>
    </div>
    <div>
      <p>Cambio</p>
      <select name="cambio" id="cambio">
        <option value="cambio">-----</option>
        {% for e in formu %}
          <option value="cambio">{{e.cambio}}</option>         
        {% endfor %}
      </select>
    </div>
    <div>
      <p>Potencia</p>
      <select name="Potencia" id="Potencia">
        <option value="b">-----</option>
        {% for e in formu %}
          <option value="Potencia">{{e.potencia}}</option>         
        {% endfor %}
      </select>
    </div>
    <div>
      <p>Localización</p>
      <select name="local" id="local">
        <option value="local">-----</option>
        {% for e in formu %}
          <option value="local">{{e.localizacion}}</option>         
        {% endfor %}
      </select>
    </div>
    <div>
      <p>Precio</p>
      <select name="color" id="color">
        <option value="b">-----</option>
        <option value="r">1€-1000€</option>
        <option value="a">1000€-5000€</option>
        <option value="v">5000€-10000€</option>
        <option value="v">10000€-20000€</option>
      </select>
    </div>
    <input type="submit" value="Búsqueda">
</form>
  </div>
  </div>
  <div class="main">
  <div>
  <img src="https://imagenes.km77.com/fotos/bbtcontent/clippingnew/KM7KPH20100211_0270/medium.jpg" width="50%" style="float: left;">
    <div style="margin-left: 440px;">
      <h5>Citroen Xsara</h5>
      <p>Kilometros: -----</p>
      <p>Fecha de matriculación: -----</p>
      <p>IMPORTE: ----- €</p>
    </div>
  <button class="button" style="vertical-align:middle"><span>RESERVAR </span></button>
  </div>
  <br>
    <h2 style="margin-top: 10%;"></h2>
    {% for e in formu %}
                    <tr>
                      <td><h4>{{ e.modelo.marca }}</td>
                      <td>{{ e.modelo }}</h4></td>
                      <br>
                      <td>{{ e.imagen }}</td>
                      <br>
                      <td>Kilometros: {{ e.kilometros }}</td>
                      <br>
                      <td>{{ e.fecha_matriculacion }}</td>
                      <br>
                      <td>{{ e.precio_final }}</td>
                      <br>
                      <button class="button" style="vertical-align:middle"><span>RESERVAR </span></button>
                    </tr>
                    <br>
    {% endfor %}
  </div>
</div>

<div class="footer">
  
</div>

{% endblock content %}