{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div id="registro" class="card">

    <form action="" enctype="multipart/form-data" method="POST">
      
        {%csrf_token %} 

            <div id="contenderoRegistro">
                <div class="grid-container">
                    <div class="grid-x grid-padding-x">
                        <div class="medium-12 cell" id="regitroUser">
                            {{form|crispy}}
                        </div>
                    </div>
                </div>
            </div>

        <hr/> 

            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="medium-6 cell" >
                        <label>DNI:
                                {{formDatos.dni}}
                        </label>
                        <p id="errores">
                            <span id="errorDni">{{mensaje}}</span>
                        </p>
                    </div>
                    <div class="medium-6 cell">
                        <label>Nombre:
                                {{formDatos.nombre}}
                        </label>
                        <p id="errores">
                            <span id="errorNombre"></span>
                        </p>
                    </div>
                </div>
            </div>

             <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="medium-6 cell">
                        <label>Primer Apellido:
                                {{formDatos.primer_apellido}}
                        </label>
                        <p id="errores">
                            <span id="errorPrimerApellido"></span>
                        </p>
                    </div>
                    <div class="medium-6 cell">
                        <label>Segundo Apellido:
                                {{formDatos.segundo_apellido}}
                        </label>
                        <p id="errores">
                            <span id="errorSegundoApellido"></span>
                        </p>
                    </div>
                </div>
            </div>
             

        <p align="right">
            <button class="button primary" id="enviar" type="submit" style="margin-right:10%; border-radius:5px">Enviar
            </button>
        </p>
    </form>
</div>

{% endblock %}