{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    {% if user.is_authenticated %}
        {% for usu in usuario %}
            {% if usu.usuario.username == user.username %}
                {% if usu.concesionario == null %}
                    {% include 'includes/header-reserva.html' %}
                {% else %}
                    {% include 'includes/header-conce.html' %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if user.is_staff %}
            {% include 'includes/header-admin.html' %}
        {% endif %}

    {% else %}
        {% include 'includes/header-base.html' %}
    {% endif %}
{% endblock head %}
    

{% block content %}

<div id="registro" class="card">

    <form action="" enctype="multipart/form-data" method="POST">
      
        {%csrf_token %} 

            {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                </p>
            {% endfor %} 

        <hr/> 

            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="medium-6 cell" >
                        <label>DNI:
                                {{formDatos.dni}}
                        </label>
                        <p id="errores">
                            <span id="errorDni">{{mensaje}}</span>
                        </p>
                    </div>
                    <div class="medium-6 cell">
                        <label>Nombre:
                                {{formDatos.nombre}}
                        </label>
                        <p id="errores">
                            <span id="errorNombre"></span>
                        </p>
                    </div>
                </div>
            </div>

             <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="medium-6 cell">
                        <label>Primer Apellido:
                                {{formDatos.primer_apellido}}
                        </label>
                        <p id="errores">
                            <span id="errorPrimerApellido"></span>
                        </p>
                    </div>
                    <div class="medium-6 cell">
                        <label>Segundo Apellido:
                                {{formDatos.segundo_apellido}}
                        </label>
                        <p id="errores">
                            <span id="errorSegundoApellido"></span>
                        </p>
                    </div>
                </div>
            </div>
             

        <p align="right">
            <button class="button success" id="enviar" type="submit" style="margin-right:10%; border-radius:5px">Enviar
            </button>
        </p>
    </form>
</div>

{% endblock %}