{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    {% if user.is_authenticated %}
        {% for usu in usuario %}
            {% if usu.usuario.username == user.username %}
                {% if usu.concesionario == null %}
                    {% include 'includes/header-reserva.html' %}
                {% else %}
                    {% include 'includes/header-conce.html' %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if user.is_staff %}
            {% include 'includes/header-admin.html' %}
        {% endif %}

    {% else %}
        {% include 'includes/header-base.html' %}
    {% endif %}
{% endblock head %}
    
{% block content %}


<div id="registro" class="card">

    <form action="../registro/" enctype="multipart/form-data" method="POST">
      
        {%csrf_token %} 

        <table>
            <tr >
                {% for field in form %}
                    <th style="text-align:left">
                        {{ field.label_tag }}
                        {{ field }}
                    </th>
                        {% if forloop.counter|divisibleby:"2" %}
            </tr>
            <tr style="background-color:#FFFFFF;;">
                        {% endif %}
                {% endfor %}
            </tr>
        </table>
     

            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="medium-6 cell" >
                        <label>DNI:
                                <input type="text" id="dni"name="dni" value={{DNI}} readonly>
                        </label>
                        <p id="errores">
                            <span id="errorDni">{{mensaje}}</span>
                        </p>
                    </div>
                    <div class="medium-6 cell">
                        <label>Nombre:
                            <input type="text" id="nombre"name="nombre" value={{Nombre}} readonly>
                        </label>
                        <p id="errores">
                            <span id="errorNombre"></span>
                        </p>
                    </div>
                </div>
            </div>

             <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="medium-6 cell">
                        <label>Primer Apellido:
                            <input  type="text" id="apellido"name="primer_apellido" value={{apellido1}} readonly>
                        </label>
                        <p id="errores">
                            <span id="errorPrimerApellido"></span>
                        </p>
                    </div>
                    <div class="medium-6 cell">
                        <label>Segundo Apellido:
                            <input type="text" id="apellido2"name="segundo_apellido" value={{apellido2}} readonly>
                        </label>
                        <p id="errores">
                            <span id="errorSegundoApellido"></span>
                        </p>
                    </div>
                </div>
            </div>
             

        <p align="right">
            <button class="button success" id="enviar" type="submit" herf="../registro/" style="margin-right:10%; border-radius:5px">Enviar
            </button>
        </p>
    </form>
</div>

{% endblock %}